/* Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Header section  */
header {
  width: 100%;
  height: 677px;
  background-color: #2d25a0;
  margin: 0;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  color: #fff;
  padding-left: 152px;
}
.banner-title {
  position: relative;
  animation: animate 1s linear 0.5s;
}
@keyframes animate {
  from {
    left: -140px;
  }
  to {
    left: 10px;
  }
}
.banner .banner-title button {
  background: #e02c6d;
  padding: 10px 24px;
  margin-left: 156px;
  margin-top: 38px;
  color: #fff;
  letter-spacing: 3px;
}
.banner .banner-img img {
  width: 556.01px;
  height: 438px;
  padding-right: 150px;
  padding-top: 153px;
  padding-left: 106px;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}
.banner .banner-img:hover img {
  transform: scale(1.3);
}

/*-----------------
 player section
 ----------------- */

section {
  margin-top: 70px;
}
.player-section {
  display: grid;
  grid-template-columns: repeat(3, 330px);
  grid-row-gap: 27px;
  grid-column-gap: 30px;
  justify-items: center;
  margin-left: 180px;
}
.player {
  width: 330px;
  height: 474px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: all 0.5s;
}
.player:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.192);
  cursor: pointer;
}
.player-section .player img {
  position: relative;
  width: 300px;
  height: 256px;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}
.player img:hover {
  transform: scale(1.2);
}
.player-detail {
  padding: 0 15px;
}
.player-detail h2 {
  color: #18191f;
  font-size: 28px;
  line-height: 40px;
  margin-top: 16px;
}
.detail {
  color: #6c6c6c;
  font-size: 16px;
  line-height: 26px;
}

/*-----------------
  News Section
 ---------------------  */
.news {
  display: flex;
  justify-content: center;
  margin: 2rem 1rem;
}
#news {
  color: #2d25a0;
  margin-left: -9rem;
  font-size: 50px;
  font-weight: bold;
}
.left {
  padding-right: 1rem;
}
.news-banner {
  height: 400px;
  width: 800px;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.438),
      rgba(54, 17, 17, 0.418)
    ),
    url("images/group.jpg");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
.news-banner:hover {
  width: 830px;
  height: 430px;
}
.left .title {
  background: rgba(0, 0, 0, 0.562);
  color: rgba(252, 252, 252, 0.87);
  margin-top: -70px;
}
.right {
  border: 15px solid #2d25a0;
}
.news-detail {
  margin: 2rem;
}
.news-detail a {
  text-decoration: none;
  text-transform: uppercase;
}
.news-detail p {
  padding-top: 2rem;
}
.btn {
  display: flex;
  justify-content: center;
}
.btn a {
  position: relative;
  padding: 10px 60px;
  line-height: 48px;
  background: #2d25a0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  color: rgba(206, 199, 199, 0.678);
  border-radius: 20px;
  margin-top: 2rem;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}
.btn a:hover {
  color: #fff;
  transform: scale(1.3);
  box-shadow: 2px 2px 10px #4a4770;
}

/* Featured Matchs  */

.match {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  overflow: hidden;
}
.match .vdo {
  transition: transform 0.8s ease-in-out;
}
.match .vdo:hover {
  transform: scale(1.2);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.192);
}

/*----------------
 Footer Section 
 --------------- */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 158px;
  margin-bottom: 63px;
}

footer .icon img {
  width: 483.87px;
  height: 110px;
}
footer .social-icon img {
  height: 32px;
  width: 32px;
  padding-right: 14px;
  margin-bottom: 20px;
}

/* Media Query  */

/* Mobile Devices */
@media only screen and (max-width: 688px) {
  header {
    width: 100%;
    background-size: cover;
  }
  .banner .banner-img img {
    width: 329px;
    height: 259.17px;
    margin: 0;
    margin-top: 50px;
    padding: 15px 0;
  }
  .banner-title {
    padding: 0;
    margin: 0;
   margin-top: 2rem;
  }
  .banner-title h1 {
    font-size: 36px;
    line-height: 50px;
  }
  .banner,
  .news,
  .match,
  footer {
    flex-direction: column;
    justify-content: center;
  }
  .player-section {
    margin-left: 2px;
    grid-template-columns: 1fr;
  }
  footer {
    margin-bottom: 5rem;
  }
  .banner,
  footer .icon img,
  .news-banner {
    width: 100%;
  }
}

/* Tablet Devices */

@media only screen and (min-width: 688px) and (max-width: 992px) {
  header {
    width: 100%;
  }
  .banner {
    width: 100%;
    padding-top: 3rem;
  }
  .banner .banner-img img {
    width: 350px;
    height: 300px;
    margin: 0;
    margin-right: 12rem;
    margin-top: 70px;
    padding: 15px;
  }
  .player-section {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin: 0;
    align-items: center;
    align-content: center;
    margin-right: 2rem;
  }
  .news {
    width: 100%;
    flex-direction: column;
  }
  .right,
  .left {
    margin-right: 4rem;
    margin-top: 2rem;
  }
  .match {
    flex-direction: column;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
  }
}
